<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d] [%p] [%c] [%t] | %msg%n"/>
        </Console>
        <File name="FileAppender" fileName="simple-weather-mqtt-client.log">
            <PatternLayout pattern="[%d] [%p] [%c] [%t] | %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.mqtt.ecomonitor.MQTT" level="all" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="com.mqtt.ecomonitor.RequestAPI" level="all" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="com.mqtt.ecomonitor.DAO" level="all" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>

</Configuration>